<div class="container">

  <h4>About</h4>

  <h5><a href="https://github.com/eibay/shopcart" target="_blank">Github source code </a></h5>

  <p>
  I am developing ShopCarte initially as my full stack solution in response to a coding challenge. Feel free to contribute and reuse if you find it suitable to any of your application.
  </p>

  <h5>Requirements</h5> 
  Initial features required as part of the user story:
  <ul>
    <li>Users will be able to add multiple items, and display the total price.</li>
    <li> Service will calculate the total using the pricing rules provided by the following: <a href="https://api.myjson.com/bins/gx6vz" target="_blank">json  service</a></li>
    <li>Whenever a special quantity of an item is selected, special_price should be used for that instead of the normal pricing.</li>
  </ul>

  <h5>Design Approach</h5> 
  <a href="https://api.myjson.com/bins/gx6vz" target="_blank">JSON  service</a> is regarded as the main source of product's data and will be fetch by an admin by an UPDATE button. This process saves the latest information that the api service provides. Additional products can be added manually. Virtual Cart is implemented and all the selected products are added as line items. Generated virtual cart id is used as part of the session which enables accummulation of all the selected items.

  <h5> How To Use </h5>
  Initial products from <a href="https://api.myjson.com/bins/gx6vz" target="_blank">json  service</a>  will be populated by pressing UPDATE button from homepage. A new product can be created as well manually. DELETE button is provided on the right side of every product to test only that update features are working once a product from <a href="https://api.myjson.com/bins/gx6vz" target="_blank">json  service</a> is removed.  

  <h5>Testing</h5> 
  Rails unit testing default are used and still on the way to completion. At the moment, there are 35 assertions and still ongoing progress..

  <h5>Technology</h5> 
  Ruby On Rails, Javascript

  <h5>License</h5> 
  GPL-3

</div>