<div class="container">
  <h4>Editing Product</h4>

  <%= render 'form', product: @product %> <br>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn waves-effect waves-light" %> 
  <%= link_to 'Back', products_path, class: "btn waves-light waves-effect" %>
</div>